<%= form_with url: password_resets_path, id: "new-password-reset", class: "user-form" do |f| %>
  <h1 id="new-password-reset-header" class="user-form-header">Submit Email For Password Reset</h1>
  <div id="new-password-reset-email" class="float-container">
    <%= f.label :email %>
    <%= f.email_field :email, id: "password_reset_email", name: "password_reset[email]"%>
  </div>
  <div id="new-password-reset-submit" class="user-submit">
    <%= f.submit "Submit", id: "new-password-reset-submit-button", class: "submit-close-buttons submit-button" %>
    <button id="submit-email-password-reset-close-button" class="submit-close-buttons close-button all-close">Cancel</button>
  </div>
<% end %>