<section id="about-me-container">

  <nav id="about-me-nav">
    <a href="#background-image-container">Home</a> 
    <a href="#background-image-container">About Me</a> 
    <a href="#background-image-container">Projects</a> 
    <a href="#background-image-container">Blog</a> 
    <a href="#background-image-container">Login</a> 
  </nav>

  <figure id="about-me-figure">
    <%= image_tag("andre_profile.jpg", id: "about-me-profile-picture") %>"
    <figcaption>Me</figcaption> 
  </figure>

  <section id="about-me-content">
    <header>
      <h1 id="fade-in-name">André Jessee</h1>
      <h2 id="fade-in-title">Web Developer</h2>
    </header>
  </section>

  <section id="about-me-blurb">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>


  <footer id="about-me-footer">
    <p>Lets put icons in here</p>
  </footer>

</section>