<section id="about-me-container">
  <!-- TODO: Add this text as an attribute to my user model and pull from database -->
  <section id="about-me-blurb">
    <p class="p-about">Welcome to Big Dumb Web Dev. My name is Andre, and I'm a big dumb web developer. (I'm both a big dummy and fairly tall.)</p>
    <p class="p-about">I went from never having coded to now working as a professional software engineer. It was hard. And like I mentioned, I'm dumb. So it was extra hard. But somehow I've managed to convince people to pay me actual money in exchange for writing code. It's a miracle, and if I've done it, you can do it too.</p>
    <p class="p-about">The site is very much a work in progress, and right now I've got a few projects in my portfolio that you can check out, plus my story about how I learned how to code. Eventually, I plan on writing a bunch of posts, both technical and more general, in the hope that I can help anyone who is embarking on their own coding journey.</p>
    <p class="p-about">Check out my projects and blog, follow me on GitHub, @ me on Twitter, or do whatever people do on LinkedIn.</p>
  </section>

  <%= render 'shared/nav' %>

</section>