<section id="about-me-container">
  <!-- TODO: Add this text as an attribute to my user model and pull from database -->
  <section id="about-me-blurb">
    <p class="p-about">Welcome to Big Dumb Web Dev. My name is Andre, and I'm a big dumb web developer.</p>
    <p class="p-about">The reason I call myself dumb is because I often feel that way. I started learning about web development in my thirties, and it was really hard for me. I went to a coding bootcamp, and I felt like I was drinking from a firehose. There was so much to learn, and I often felt completely overwhelmed. I almost gave up a number of times, but I was able to make it through with the help of some great teachers, my fellow students, and an emotional intelligence module that introduced me to the concept of 'impostors syndrome'.</p>
    <p class="p-about">Imposters syndrome is when you feel like you don't belong and aren't good enough, and it's pervasive for new learners in tech and web development. I've felt it every step of the way, from my first job out of bootcamp to now, where I work as a professional software engineer. But what I've realized along the way is that this stuff IS really hard, but that if you are persistent and continue your learning, at some point you look back and realize how far you've come and that you can actually do some pretty cool stuff.</p>
    <p class="p-about">That's the reason I've built this site. I want to share my journey, and hopefully help out others who are on the same path. It's still a work in progress, but feel free to check out my projects and blog, follow me on GitHub, @ me on Twitter, or do whatever people do on LinkedIn. Thanks for stopping by!</p>   
  </section>

  <%= render 'shared/nav' %>

</section>