<section id="about-me-container">
  <!-- TODO: Add this text as an attribute to my user model and pull from database -->
  <section id="about-me-blurb">
    <p class="p-about">Welcome to Big Dumb Web Dev, a site by and for new web developers. My name is Andre, and I built this site to document my journey into learning about web development, software engineering, and technology. It's been a challenge for me - none of this stuff has come easy, and the only way I've been able to learn is by building things like this. </p>
    <p class="p-about">My hope is that this site can serve as a resource for others who are embarking on a similar journey. There is no way I would have been able to do this on my own; I've been helped by countless people along the way. Now it's my turn to try make a contribution. By sharing my projects and trying to explain them, I hope I can show other people that they are capable of doing the same thing.</p>
    <p class="p-about">Check out my projects and blog, follow me on GitHub, @ me on Twitter, or connect with me on LinkedIn. Feel free to reach out with any questions or comments. Happy coding!</p>
  </section>

  <%= render 'shared/nav' %>

</section>