<section id="about-me-container">

  <section id="about-me-blurb">
    <p>Hi there, thanks for stopping by my site! My name is Andre, and I live in Washington, D.C. I work as a software engineer
      by day, and by night I like to code and build web applications like this one. </p>

    <p>Sounds impressive right? I'll let you in on a little secret - I'm the last person in the world that can believe that
      I'm making a living writing code. I always thought that the only people who could learn how to code were geniuses with
      deep knowledge of computer science. And I failed the one CS course I took in college.</p>

    <p>So how did I get here? Like a lot of people, I was unhappy at my job at the time. I had been reading all these articles
      about how coding is the future and blah blah blah, but I didn't think I was smart enough to pick it up. Fortunately,
      I was desperate enough to try out some online resources, and surprisingly, I actually enjoyed it. I ended up moving
      to NYC to enroll in a coding 'bootcamp', and from there I was fortunate to land a job in the industry.</p>

    <p>Super simple right? Nope. This process has be really challenging every step of the way. I'm not naturally talented at
      this, and it's taken a ton of hard work and persistence to learn the little I know about web development and coding.
      I've had to battle through feelings of inadequacy and doubt at every turn. Luckily, I've had support and access to
      resources throughout my journey.</p>

    <p> Now, it's time for me to pay it forward. That's why I'm building bigdumbwebdev.com. If this big dummy can somehow learn
      enough to land a job, literally anyone can. My aim is to share my experience to help others who are learning to code
      (or those just thinking about learning!) It's not a totally altruistic endeavor - by trying to explain things to others,
      it solidifies my learning. But I do hope you find something here that can help you in some small way.</p>

    <p>I invite you to check out my projects, look over the list of resources I've put together learning how to code, and dive
      into my blog. Feel free to reach out if you have any questions, and happy coding!</p>

  </section>

  <nav id="about-me-nav">

        <span id="projects-icon">
            <h1 class="icon-label">Projects</h1>
            <i class="icon-image fa fa-code fa-5x" aria-hidden="true"></i>
          </span>
          <span id="resources-icon">
            <h1 class="icon-label">Resources</h1>
            <i class="icon-image fa fa-link fa-5x" aria-hidden="true"></i>
          </span>
          <span id="blog-icon">
            <h1 class="icon-label">Blog</h1>
            <i class="icon-image fa fa-bullhorn fa-5x" aria-hidden="true"></i>
          </span>

   
    <div id="contacts">
      <h1 class="icon-label">Contact</h1>
      <div class="contact-icons">
          <span id="github-icon">
              <i class="icon-image fa fa-github fa-5x" aria-hidden="true"></i>
            </span>
            <span id="twitter-icon">
              <i class="icon-image fa fa-twitter fa-5x" aria-hidden="true"></i>
            </span>
            <span id="linkedin-icon">
              <i class="icon-image fa fa-linkedin fa-5x" aria-hidden="true"></i>
            </span>
      </div>
      
    </div>
   
  </nav>

</section>