<section id="blog-container">
  <h1 id="blog-header" class="header">Blog</h1>
  <article id="intro-post-body">
      <% if @intro_post %>
        <%= @intro_post.content%>
      <% end %>
  </article>
  <%= render 'tags' %>
</section>