<section id="blog-container">
  <h1 class="header">Blog</h1>
  <%= image_tag("construction.gif", class: 'construction-image') %>
  <h4 class="under-construction">Under construction...Please come back soon!</h4>
</section>