<section id="landing-page-container">

  <header id="landing-page-title">
    <h1>
      <span id="fade-in-big">Big </span>
      <span id="fade-in-dumb">Dumb </span>
      <span id="fade-in-web">Web </span>
      <span id="fade-in-dev">Dev</span>
    </h1>
    <h1></h1>
  </header>

  <figure id="landing-page-image">
    <%= show_svg('bigDumbWebDev.svg') %>
  </figure>


  <div id="arrow">
    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
  </div>

</section>