<section id="background-image-container">

  <section id="background-image-content">
      <header>
        <h1><span id="fade-in-big">Big </span><span id="fade-in-dumb">Dumb</span></h1>
        <h1><span id="fade-in-web">Web </span><span id="fade-in-dev">Dev</span></h1>
      </header>
    </section>

  <div class="arrow drop">
    <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
  </div>

</section>