<section id="projects-container">
    <h1 class="projects-header">Projects</h1>
    <p class="p-projects">Click on any of the cards to open the project. Scroll through to the last card for a link my full portfolio of projects. </p>
    <!-- We are putting this in an iframe because in order for the 3d effect to work, the position of the viewport needs to be fixed.
    TODO: Look into using HTML Web Components instead. If that works, do it for individual projects too -->
    <iframe src="/scroll3d" frameborder="0" id="scroll3d-iframe"></iframe>
  </section>
  