<section id="projects-container">
  <h1 class="header">Projects</h1>

  <span id="rdj-logo">
    <a class="no-link-color" href="https://ralphdonaldjessee.com/" target="_">
      <%= image_tag("rdjlogo.png", class: 'project-image') %>
    </a>
  </span>

  <span id="nycycle-logo">
    <a class="no-link-color" href="https://nycycle-1.herokuapp.com/" target="_">
      <%= image_tag("nycycle.png", class: 'project-image') %>
    </a>
  </span>

  <span id="water-logo">
    <a class="no-link-color" href="https://github.com/ajessee/visualize_NYC_resevoir_levels" target="_">
      <%= image_tag("water.png", class: 'project-image') %>
    </a>
  </span>

  <span id="rdj-caption">
    <p class="image-label">A web application to host stories my grandfather wrote</p>
  </span>

  <span id="nycycle-caption">
    <p class="image-label">A web application to find the closest recycling bin to you in NYC</p>
  </span>

  <span id="water-caption">
    <p class="image-label">A command line application to visualize NYC reservoir levels</p>
  </span>

</section>