<section class="container" id="main_page_container">

	<div id="main_page_background" class="background_image"></div>

	<header id="main_page_headers">
		<h1 class="header">André Jessee</h1>
		<h2 class="subhead">Web Developer</h2>
	</header>

	<nav id="main_page_menu" class="nav_menu">
		<ul>
			<li>
				<a href="blog/index.html">Writing</a>
			</li>
			<li>
				<a href="projects/index.html">Projects</a>
			</li>
			<li>
				<a href="https://resume.creddle.io/resume/bkvlgd5k80h">Resume</a>
			</li>
			<li>
				<a href="about/index.html">About Me</a>
			</li>
		</ul>
	</nav>


</section>