<%= form_with model: @user, id: "add-user-image", class: "", local: true do |f| %>
  <%= f.label "Attach image here and then upload" %>
  <div id="new-user-image" class="">
    <%= f.file_field :image, id: 'user-image-choose-file' %>
  </div>
  <div id="new-user-image-submit" class="post-submit">
    <%= f.submit "Upload Picture", id: "edit-user-picture-button", class: "disabled-button submit-button" %>
  </div>
<% end %>