<%= form_with model: @user, id: "add-user-image", class: "", local: true do |f| %>
  <div id="new-user-image" class="">
    <%= f.rich_text_area :picture, placeholder: "Drag a picture here or use the upload button", disabled: true, class: "trix-content" %>
  </div>
  <div id="new-user-image-submit" class="post-submit">
    <%= f.submit @user.picture.body && @user.picture.body.empty? ? "Add Picture" : "Edit Picture", id: "edit-user-picture-button", class: "submit-close-buttons submit-button" %>

  </div>
    <% end %>
