<div id="user-show-partial">
  <h1>Welcome!</h1>
  <h2> You have successfully created a user account.</h2>
  <div class="user-info">Name:
    <%= @user.name %>
  </div>
  <div class="user-info">Email:
    <%= @user.email %>
  </div>

  <% if logged_in? %>
  <div id="edit-user-icon">
      <%= link_to 'Edit Profile', edit_user_path(@user),  {:remote => true}  %>
    </div>
    <p>Current user name:<%= current_user.name%></p>
  <% end %>

</div>