<div id="user-show-partial">
  <h1>Welcome!</h1>
  <h2> You have successfully created a user account.</h2>
  <div class="user-info">Name: <%= @user.name %></div>
  <div class="user-info">Email: <%= @user.email %></div>
  <button id="user-show-close-button">Close</button>
</div>