 <div id="user-show-details">
    <h2>About You</h2>
    <% if @user.details.body && !@user.details.body.empty? %>
      <div id="user-show-details-container">
        <%= @user.details.body %>
        <% if logged_in? && current_user?(@user) %>
          <%= link_to edit_user_path(@user, update_type: 'details'), class: "no-link-color", id: "edit-user-details-button", title: "Edit User Details", remote: "true" do %>
            <button class="submit-close-buttons submit-button">Edit About Me</button>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <% if logged_in? && current_user?(@user) %>
        <div id="user-show-details-container"></div>
        <%= link_to edit_user_path(@user, update_type: 'details'), class: "no-link-color", id: "edit-user-details-button", title: "Edit User Details", remote: "true" do %>
          <button id="add-about-me" class="submit-close-buttons submit-button">Add About Me</button>
        <% end %>
      <% else %>
        <textarea class="about-you-no-input" disabled></textarea>
      <% end %>
    <% end %>
  </div>