<nav id="main-nav">

  <div class="icon-image" id="projects-icon">
    <a class="no-link-color" title="Projects" tabindex="0"><i class="icon-grow fas fa-code fa-5x" aria-hidden="true"></i></a>
    <p class="icon-label">Projects</p>
  </div>

  <div class="icon-image" id="resources-icon">
    <a class="no-link-color" title="Resources" tabindex="0"><i class="icon-grow fas fa-list-ul fa-5x" aria-hidden="true"></i></a>
    <p class="icon-label">Resources</p>
  </div>

  <div class="icon-image" id="blog-icon">
    <a class="no-link-color" title="Blog" tabindex="0"><i class="icon-grow fas fa-bullhorn fa-5x" aria-hidden="true"></i></a>
    <p class="icon-label">Blog</p>
  </div>

  <div class="icon-image" id="github-icon">
    <a class="no-link-color" href="https://github.com/ajessee" target="_" rel="noopener noreferrer" title="Github"><i class="icon-grow fab fa-github fa-5x"
        aria-hidden="true"></i></a>
    <p class="icon-label">Github</p>
  </div>

  <div class="icon-image" id="twitter-icon">
    <a class="no-link-color" href="https://twitter.com/bigdumbwebdev" target="_" rel="noopener noreferrer" title="Twitter"><i class="icon-grow fab fa-twitter fa-5x"
        aria-hidden="true"></i></a>
    <p class="icon-label">Twitter</p>
  </div>

  <div class="icon-image" id="linkedin-icon">
    <a class="no-link-color" href="https://www.linkedin.com/in/andrejessee/" target="_" rel="noopener noreferrer" title="LinkedIn"><i class="icon-grow fab fa-linkedin-in fa-5x"
        aria-hidden="true"></i></a>
    <p class="icon-label">LinkedIn</p>
  </div>

</nav>