<section id="contacts-project-container">
  
    <div id="contact-add-contact">
        <div id="contact-title">Contact List</div>
        <form id="contact-add-form">
          <div id="contact-inputs">
            <label for="first-name" id="contact-first-name-label">First Name</label>
            <input name="first-name" id="contact-first-name-input" type="text">
            <label for="last-name" id="contact-last-name-label">Last Name</label>
            <input name="last-name" id="contact-last-name-input" type="text">
            <label for="phone" id="contact-phone-label">Phone Number</label>
            <input name="phone" id="contact-phone-input" type="text">
            <label for="email" id="contact-email-label">Email</label>
            <input name="email" id="contact-email-input" type="text">
          </div>
          <div id="contact-submit">
            <input type="submit" value="Add Contact" id="contact-project-submit">
          </div>
        </form>
      </div>
    
      <div id="contact-table-card">
          <table id="contact-table">
              <thead>
                <tr id="table-border-bottom">
                  <th>First</th>
                  <th>Last</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="contact-list"></tbody>
            </table>
      </div>

      <div id="contact-modal">
        <div id="contact-modal-content">
          <span id="contact-modal-close">X</span>
          <p id="contact-modal-text"></p>
        </div>
      </div>
</section>