<% provide(:title, "Projects") %>
<section id="all-projects-container" class="projects-container">
  <h1 class="projects-header">All Projects</h1>

  <% @user.projects.each do |project| %>
  <a class="no-link-color project-card" id="all-number-guesser-logo" href="<%= project.external_url ? project.url : 'projects/' + project.slug %>" rel="noopener noreferrer">
    <div class="link-image">
        <% if project.image.attachment != nil %>
        <%= image_tag(project.image.variant(resize_to_limit: [300, 300]), class: "project-image") unless project.image == nil %>
        <% end %>
    </div>
    <div class="image-label">
      <%= project.description %>
    </div>
    <p id="all-number-guesser-caption" class="image-label"></p>
  </a>
  <% end %>

</section>