<section id="todo-project-container">

  <div id="todo-add-task">
    <span id="todo-title">Andre's To-Do List App (Now with highlighting!)</span>
      <form id="todo-task-form">
        <div id="todo-inputs">
          <label for="task" id="todo-task-label">New Item</label>
          <input name="task" id="todo-task-input" type="text">
        </div>
        <div id="todo-submit">
          <input type="submit" value="Add Task" id="todo-project-submit">
        </div>
      </form>
  </div>

  <div id="todo-list-tasks">
    <span id="todo-tasks-title">Tasks</span>
    <div id="todo-tasks-filter">
      <label for="filter" id="todo-filter-label">Filter Tasks</label>
      <input type="text" name="filter" id="todo-filter">
    </div>
    <div id="todo-clear-tasks">
      <a href="#" id="todo-clear-tasks-button">Clear All</a>
    </div>
    <ul id="tasks-collection"></ul>
  </div>

</section>