<% provide(:title, "\##{@tag.name}") %>
<div id="all-tags-container">
  <div id="tag-show-container">

    <div id="tag-show-header">
      <h1><%= "\##{@tag.name}" %></h1>
    </div>

    <% @tag.posts.each do |post| %>
      <%= render 'shared/post_card', post: post, showTags: false %>
    <% end %>

  </div>
</div>