<section class="http-error-container">

    <h1>We warned you we were big dummies</h1>
    <p>We can't seem to find that page. Please contact us to resolve this issue.</p>
  
    <figure class="HTTP-status-svg">
      <%= show_svg('404-Error.svg') %>
    </figure>
  
    <%= link_to "Take Me Home", root_path %>
    <h3>HTTP Status Code: <%= @error_code %></h3>
  
  </section>