<section class="http-error-container">

  <h1>Yeah...no. You're not authorized to view this page.</h1>
  <p><%= @error_message %></p>

  <figure id="HTTP-status-401-svg">
    <%= show_svg('401-Error.svg') %>
  </figure>

  <%= link_to "Take Me Home", root_path %>

</section>