<div class="diff-container">
  <h1 id="diff-header">We found some unsaved changes. Please select which version you want to use:</h1>
  <div id="saved-version-controls">
      <h3 id="saved-diff-header">Unsaved version:</h3>
      <button id="use-saved-version-button" class="submit-close-buttons submit-button" data-content="<%= @savedContent %>">Use Unsaved Version</button>
  </div>
  <div id="saved-version">
    <%= raw @diffHtml.right %>
  </div>
  <div id="current-version-controls">
    <h3 id="current-diff-header">Current version:</h3>
    <button id="use-current-version-button" class="submit-close-buttons submit-button" data-content="<%= @currentContent %>">Use Current Version</button>
  </div>
  <div id="current-version">
    <%= raw @diffHtml.left %>
  </div>
  
</div>