<div id="show-user-post-container">
  <h1 class="posts-header">All Blog Posts</h1>
  <% posts.each do |post| %>
    <%= render 'shared/post_card', post: post, showTags: true %>
  <% end %>
  <%= will_paginate posts %>
</div>