<!-- TODO: When rails updates their action text to allow for static html attachments, add this back in -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://gist.github.com/ajessee/cd495ef66ac5298f0e2853c05dbcfa8e.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
</body>
</html> -->