<div id="all-posts-container">
  <% if @posts.any? %>
    <% if logged_in? && current_user.admin? %>
      <% @posts.each do |post| %>
      <% @post = post %>
      <%= will_paginate @posts %>
        <%= render 'show', post: post, show_all: true %>
      <% end %>
    <% else %>
        <%= render 'show_user', posts: @posts %>
    <% end %>
  <% end %>
</div>