<div id="show-post-container">
  <div id="show-post-title-container">
    <h1 id="show-post-title"><%= @post.title%></h1>
    <div id="post-controls">
      <% if logged_in? && current_user.admin? %>
        <%= link_to edit_post_path(@post), class: "no-link-color", title: "Edit Post" do %>
        <button id="login-user-close-button" class="submit-close-buttons submit-button">Edit</button>
        <% end %>
        <%= link_to post_path, class: "no-link-color", title: "Delete Post", method: "delete" do %>
        <button id="login-user-submit-button" class="submit-close-buttons close-button all-close">Delete</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="show-post-body"><%= @post.content%></div>
</div>