#about-me-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
  background-color: aliceblue;
}

#about-me-blurb{
  grid-column: 2 / 10;
  grid-row: 2;
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
}

#about-me-nav {
  grid-column: span 3;
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-items: center;
  background-color: black;
}

.nav-links {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6em;
  text-decoration: none;
  margin: 0em 0.6em 0em 0.6em;
}

a.nav-links:hover {
  border-bottom: 1px solid white;
}


@media only screen and (min-width : 1501px) {

  #about-me-container {
    height: 100vh; 
    width: 100vw;
  }

  #about-me-blurb{
    font-size: 1.6em;
    height: 80vh; 
  }
}

@media only screen and (min-width : 1025px) and (max-width : 1500px) {

  #about-me-container {
    height: 100vh; 
    width: 100vw;
  }

  #about-me-blurb{
    font-size: 1.3em;
    height: 80vh; 
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

  #about-me-container {
    grid-template-rows: auto auto;
  }

  #about-me-blurb{
    font-size: 2em;
    text-align: center;
  }
}

@media only screen and (max-device-width : 767px) {

  #about-me-container {
    grid-template-rows: auto auto;
  }

  #about-me-blurb{
    font-size: 2em;
    text-align: center;
  }
}