#about-me-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 10% auto auto 20%;
  background-color: black;
  min-height: 100vh; 
  min-width: 100vw;
}

#about-me-nav {
  grid-column: span 20;
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-items: center;
  background-color: black;
}

.nav-links {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6em;
  text-decoration: none;
  margin: 0em 0.6em 0em 0.6em;
}

a.nav-links:hover {
  border-bottom: 1px solid white;
}

#about-me-image {
  margin: 1em 1em 1em 1em;
  grid-column: 2 / 6;
  grid-row: 2;
  align-self: flex-end;
}
#about-me-profile-picture {
  width: 100%;
  height: auto;
  border-radius: 250px;
  border: 3px solid black;
}

#about-me-blurb{
  grid-column: 7 / 20;
  grid-row: 2;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
  align-self: flex-end;
}

#about-me-blurb2{
  grid-column: 2 / 20;
  grid-row: 3;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
}


#about-me-footer {
  grid-row: 4;
  color: black;
  grid-column: span 20;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}

div.icon {
  margin: 0em 4em 0em 4em;
  align-items: center;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  #fade-in-name {
      font-size: 8em;
  }
  #fade-in-title {
      font-size: 5em;
  }
}

@media screen and (max-width: 800px) {
  #fade-in-name {
      font-size: 8em;
  }
  #fade-in-title {
      font-size: 5em;
  }
}