@import "font-awesome";

#landing-page-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20% 70%;
  background-color: aliceblue;
}

#landing-page-title {
  grid-column: span 6;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#landing-page-image {
  grid-row: 2; 
  grid-column: 2 / span 4;
}

#bigDumbWebDevSVG {
  visibility: hidden;
}


#fade-in-big, #fade-in-dumb, #fade-in-web, #fade-in-dev {
  opacity: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  transition: opacity 1s; 
}

.arrow {
  color: black;
  cursor: pointer;
  z-index: 1;
}

.drop {
  -moz-animation: drop 3.5s ease both;
  -webkit-animation: drop 3.5s ease both;
  animation: drop 3.5s ease 4s both;
}

// Responsively adjust background image
@media screen and (min-width: 1200px) {
  #landing-page-container {
    height: 100vh; 
    width: 100vw;
  }

  #fade-in-big, #fade-in-dumb, #fade-in-web, #fade-in-dev {
    font-size: 5.8em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  #fade-in-big, #fade-in-dumb, #fade-in-web, #fade-in-dev {
    font-size: 4em;
  }
}

@media screen and (max-width: 800px) {
  #fade-in-big, #fade-in-dumb, #fade-in-web, #fade-in-dev {
    font-size: 1.9em;
    min-height: none;
  }
}

// Arrow drop animation
@keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh) scale(0.3);
    transition: transform 300ms linear;
    will-change: transform;
    color: #dadadc;
  }
  to {
    -moz-transform: translateY(45vh);
    -ms-transform: translateY(45vh);
    -webkit-transform: translateY(45vh);
    transform: translateY(45vh) scale(1.2);
    transition: transform 300ms linear;
    will-change: transform;
    color: white;
  }
}
@-moz-keyframes drop {
  from {
    -moz-transform: translateY(-350px);
    -ms-transform: translateY(-350px);
    -webkit-transform: translateY(-350px);
    transform: translateY(-350px) scale(0.3);
    transition: transform 300ms linear;
    will-change: transform;
    color: #dadadc;
  }
  to {
    -moz-transform: translateY(350px);
    -ms-transform: translateY(350px);
    -webkit-transform: translateY(350px);
    transform: translateY(350px) scale(1.2);
    transition: transform 300ms linear;
    will-change: transform;
    color: white;
  }
}
@-webkit-keyframes drop {
  from {
    -moz-transform: translateY(-350px);
    -ms-transform: translateY(-350px);
    -webkit-transform: translateY(-350px);
    transform: translateY(-350px) scale(0.3);
    transition: transform 300ms linear;
    will-change: transform;
    color: #dadadc;
  }
  to {
    -moz-transform: translateY(350px);
    -ms-transform: translateY(350px);
    -webkit-transform: translateY(350px);
    transform: translateY(350px) scale(1.2);
    transition: transform 300ms linear;
    will-change: transform;
    color: white;
  }
}


