#landing-page-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20vh 70vh 10vh;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
}

#landing-page-title {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  text-align: center;
}

#landing-page-image {
  grid-row: 2;
  grid-column: 2 / span 4;
  display: flex;
  justify-content: center;
}

#bigDumbWebDevSVG {
  visibility: hidden;
  height: 70vh;
}

#fade-in-big,
#fade-in-dumb,
#fade-in-web,
#fade-in-dev {
  opacity: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  transition: opacity 1s;
}

#arrow {
  grid-row: 3;
  grid-column: 2 / span 4;
  display: flex;
  justify-content: center;
  color: black;
  cursor: pointer;
  opacity: 0;
}

// Flash Animation
@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes redXFlash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes redXFlash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Arrow drop animation
@keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh) scale(0.3);
    transition: transform 300ms linear;
    will-change: transform;
    color: transparent;
  }

  to {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh) scale(1.5);
    transition: transform 300ms linear;
    will-change: transform;
    color: black;
  }
}

@-moz-keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh) scale(0.3);
    transition: transform 300ms linear;
    will-change: transform;
    color: transparent;
  }

  to {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh) scale(1.5);
    transition: transform 300ms linear;
    will-change: transform;
    color: black;
  }
}

@-webkit-keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh) scale(0.3);
    transition: transform 300ms linear;
    will-change: transform;
    color: transparent;
  }

  to {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh) scale(1.5);
    transition: transform 300ms linear;
    will-change: transform;
    color: black;
  }
}

// Huge screen
@media only screen and (min-width : 1501px) {

  #fade-in-big,
  #fade-in-dumb,
  #fade-in-web,
  #fade-in-dev {
    font-size: 5.7em;
  }
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {

  #fade-in-big,
  #fade-in-dumb,
  #fade-in-web,
  #fade-in-dev {
    font-size: 5em;
  }
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  #fade-in-big,
  #fade-in-dumb,
  #fade-in-web,
  #fade-in-dev {
    font-size: 4em;
  }
}

// Phones
@media only screen and (max-width: 767px) {

  #landing-page-container,
  #about-me-container,
  #projects-container,
  #modal {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  #landing-page-title {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }

  #landing-page-image {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
  }

  #bigDumbWebDevSVG {
    visibility: hidden;
    height: 35vh;
  }

  #arrow {
    grid-row: 3;
    grid-column: 1;
  }

  .fa-angle-down {
    font-size: 3em;
  }

  #fade-in-big,
  #fade-in-dumb,
  #fade-in-web,
  #fade-in-dev {
    font-size: 1.5em;
  }

  @keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh);
    transition: transform 300ms linear;
    will-change: transform;
    color: transparent;
  }

  to {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
    transition: transform 300ms linear;
    will-change: transform;
    color: black;
  }
}

@-moz-keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh);
    transition: transform 300ms linear;
    will-change: transform;
    color: transparent;
  }

  to {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
    transition: transform 300ms linear;
    will-change: transform;
    color: black;
  }
}

@-webkit-keyframes drop {
  from {
    -moz-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    -webkit-transform: translateY(-50vh);
    transform: translateY(-50vh);
    transition: transform 300ms linear;
    will-change: transform;
    color: transparent;
  }

  to {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
    transition: transform 300ms linear;
    will-change: transform;
    color: black;
  }
}
}