#blog-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto;
  border-bottom: 2px solid black;
}

#blog-header {
  grid-column: 1/11;
  grid-row: 1;
  margin: 2%
}

#intro-post-body {
  grid-column: 2 / 10;
  grid-row: 2;
  display: grid;

  .trix-content {
    background-color: aliceblue !important;
    box-shadow: none;
    font-size: 1.7em;
    line-height: 1.3;
  }
}

.header {
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
}

#all-blog-icon {
  justify-self: center;
  margin-top: 2%;
  text-align: center;
}

#all-blog-icon .icon-label {
  font-size: 2em;
  margin: 0;
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #intro-post-body {

    .trix-content {
      font-size: 2.5em;
      text-align: center;
    }
  }
}

// Phones
@media only screen and (max-width: 767px) {
  #blog-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    place-items: center;
  }

  .header {
    font-size: 3em;
    grid-column: 1;
  }

  #intro-post-body {

    .trix-content {
      font-size: 1.4em;
      line-height: 1.3;
      text-align: center;
    }
  }

}