.comment-form {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

#new-comment-submit {
  margin: 2% 0 2% 0;
}

#new-comment-content,
#edit-comment-content {
  max-width: 70%;
  min-width: 70%;
}

#new-comment-content .trix-content,
#edit-comment-content .trix-content {
  background-color: white !important;
  padding: 0 !important;
  text-align: left !important;
}

#sign-up-login-container {
  text-align: center;
  margin-bottom: 2%;
}

.show-comment-container {
  margin: 2%;
  width: 70%;
  justify-self: center;
  display: grid;
}

#post-comments-container {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.signup-login-info {
  margin: 1%;
}

#new-guest-first-name,
#new-guest-last-name {
  width: 50%;
}

.show-comment-controls {
  justify-self: end;
}

#add-new-comment-button {
  justify-self: center;
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {
  // placeholder
}