#debug-button-container {
  position: fixed;
  z-index: 7;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.3);
  margin: 0 1% 1% 0;
}

#debug-button:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

#debug-button {
  border-style: none;
  background-color: transparent;
  padding: 0;
}

.debug-panel {
  display: none;

}

.debug_dump {
  font-family: 'VT323', monospace;
  font-size: 1em;
  white-space: pre-wrap;
  margin: 5%;
}

pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  overflow-wrap: break-word;
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {
  #debug-button {
    font-size: 0.4em;
  }

  .debug_dump {
    font-size: 0.3em;
  }
}