.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

.diff-container {
  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 5% 38% 5% 38%;
  height: 100vh;
  padding: 0% 2% 0% 2%;
}

#diff-header {
  grid-row: 1;
  font-size: 1.7em;
  text-align: center;
}

#saved-version {
  grid-row: 3;
  overflow-y: auto;
  margin-bottom: 2%;
}

#current-version {
  grid-row: 5;
  overflow-y: auto;
}

#saved-version-controls *, #current-version-controls * {
  display: inline;
}

#use-saved-version-button, #use-current-version-button {
  float: right;
  font-size: 1em !important;
  padding: 6px 12px !important;
}

.content-diff-display trix-toolbar {
  display: none;
}


// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {
  #diff-header {
    font-size: 1em;
    padding-left: 15% !important;
  }

  #saved-diff-header, #current-diff-header {
    font-size: 0.8em;
  }
}