.http-error-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: aliceblue;
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  justify-items: center;
  text-align: center;

  h1 {
    font-size: 3em;
    margin: 2%;
  }

  p {
    font-size: 2.5em;
    margin: 0;
  }

  .HTTP-status-svg>svg {
    height: 60vh;
  }

  a {
    font-size: 2em;
  }
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {
  .http-error-container {
  
    h1 {
      text-align: center;
      font-size: 2em;
    }
  
    p {
      text-align: center;
      font-size: 1.5em;
      margin: 1%;
    }
  
    .HTTP-status-svg>svg {
      width: 70vw;
    }
  
    a {
      font-size: 2em;
    }
  }
}