#footer {
  display: grid;
  background-color: aliceblue;
  place-items: center;
  font-family: 'Oxygen', sans-serif;
}

.footer-center {
  // placeholder
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {
  // placeholder
}