#about-me-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: auto auto;
  background-color: aliceblue;
}

#about-me-blurb {
  grid-column: 3 / 19;
  grid-row: 1 / 2;
  color: black;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.3;
}

.no-link-color {
  color: inherit;
  text-decoration: none;
}


// Huge screen
@media only screen and (min-width : 1501px) {
  #about-me-blurb {
    font-size: 1.6em;
  }
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  #about-me-blurb {
    font-size: 1.7em;
  }
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #about-me-container {
    grid-template-rows: auto auto;
  }

  #about-me-blurb {
    font-size: 2.5em;
    text-align: center;
  }
}

// Phones
@media only screen and (max-width : 767px) {

  #about-me-container {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto auto;
  }

  #about-me-blurb {
    font-size: 1.4em;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    line-height: 1.3em;
  }
}