#matrix-parallax-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: image-url('matrix.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 75vh; 
  min-width: 100vw;
}

@media only screen and (min-width : 1501px) {

}

@media only screen and (min-width : 1025px) and (max-width : 1500px) {

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media only screen and (max-width : 767px) {
  background-image: image-url('matrix_small.gif');
}
