#modal {
  display: none;
  position: fixed; 
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
  width: 100%;
}

#modal-content {
  display: none;
  grid-row: 2 / span 6; 
  grid-column: 3 / span 4;
  justify-content: center;
  background-color: white;
  position: relative;
  border-radius: 2%;
  box-shadow: 15px 16px 12px rgba(0, 0, 0, 0.3);
}

.grow {
  animation-name: grow;
  animation-duration: 0.3s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running; 
}

.shrink {
  animation-name: shrink;
  animation-duration: 0.3s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running; 
}

@keyframes grow {
  0% {
    transform: scale(0);
    border-radius: 100%;
  }
  100% {
    transform: scale(1);
    border-radius: 2%;
  }
}

@keyframes shrink {
  0% {
    border-radius: 2%;
  }
  100% {
    transform: scale(0);
    border-radius: 100%;
  }
}


.modalBlur>*:not(#modal) {
  -webkit-filter: blur(3px) brightness(50%);
  -moz-filter: blur(3px) brightness(50%);
  -o-filter: blur(3px) brightness(50%);
  -ms-filter: blur(3px) brightness(50%);

  -webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -o-transition: 0.3s -o-filter linear;
  -ms-transition: 0.3s -ms-filter linear;
}

.modalUnblur>*:not(#modal)  {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;

  -webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -o-transition: 0.3s -o-filter linear;
  -ms-transition: 0.3s -ms-filter linear;
}

#close-modal {
  display: none;
  position: absolute;
  right: 0;
  border-style: none;
  background-color: transparent;
  color: black;
}

#close-modal:hover {
  cursor: pointer;
  color: #F04747;
}