#nav-button-container {
    display: block;
    position: fixed;
    z-index: 7;
    top: -10%;
    left: 0;
    margin-left: 2%;
    margin-top: 2%;
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

#nav-button {
    background-color: aliceblue;
    border: none;
    border-radius: 15%;
    box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.1);
}

#nav-button:hover {
    cursor: pointer;
}

#nav-slide-in-menu {
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform .35s ease-in-out;
    width: 25%;
}

#nav-slide-in-menu.menu-closed {
    transform: translateX(-100%);
}

#nav-menu-items {
    list-style-type: none;
    display: grid;
    height: 100vh;
    grid-template-rows: 5% repeat(11, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 0% 2% 0% 2%;
}

.nav-menu-row {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#bdwd-nav-menu-icon {
    grid-column: 1;
    align-self: center
}

.nav-menu-icon-link {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.nav-menu-icon-label {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    align-self: center;
    transition: all .2s ease-in-out;
}

.nav-menu-icon-label:hover {
    transform: scale(1.2);
}

.icon-grow:hover {
    transform: scale(1.3);
}

#close-nav-menu-button {
    display: none;
    grid-column: 3;
    justify-self: right;
}

#close-nav-menu-button:hover {
    cursor: pointer;
}

.nav-menu-list-item {
    align-self: center;
}

.nav-menu-icon {
    align-self: center;
    justify-self: center;
}

#nav-menu-close {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self: end;
}

#nav-menu-home {
    grid-row: 2;
    grid-column: 1/4;
}

#nav-menu-projects {
    grid-row: 3;
    grid-column: 1/4;
}

#nav-menu-blog {
    grid-row: 4;
    grid-column: 1/4;
}

#nav-menu-user-profile {
    grid-row: 5;
    grid-column: 1/4;
}

#nav-menu-logout {
    grid-row: 6;
    grid-column: 1/4;
}

#nav-menu-login {
    grid-row: 5;
    grid-column: 1/4;
}

#nav-menu-signup {
    grid-row: 6;
    grid-column: 1/4;
}

#nav-menu-all-users {
    grid-row: 7;
    grid-column: 1/4;
}

#nav-menu-all-posts {
    grid-row: 8;
    grid-column: 1/4;
}

#nav-menu-add-blog-post {
    grid-row: 9;
    grid-column: 1/4;
}

#nav-menu-add-new-project {
    grid-row: 10;
    grid-column: 1/4;
}

#nav-menu-github {
    grid-row: 12;
    grid-column: 1;
}

#nav-menu-twitter {
    grid-row: 12;
    grid-column: 2;
}

#nav-menu-linkedin {
    grid-row: 12;
    grid-column: 3;
}

.social-icons {
    grid-column: 2;
    transition: all .2s ease-in-out;
}

.social-icons:hover {
    transform: scale(1.3);
}

.nav-bottom-border {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 5%;
}

#welcome-nav {
    grid-column: 1 / 21;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto;
    padding: 1% 0 1% 0;
}

#projects-icon {
    grid-column: 2;
    grid-row: 1 / 2;
}

#blog-icon {
    grid-column: 3;
    grid-row: 1 / 2;
}

#github-icon {
    grid-column: 4;
    grid-row: 1 / 2;
}

#twitter-icon {
    grid-column: 5;
    grid-row: 1 / 2;
}

#linkedin-icon {
    grid-column: 6;
    grid-row: 1 / 2;
}

.icon-image {
    justify-self: center;
    cursor: pointer;
    position: relative;
}

.icon-grow {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.icon-label {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin-block-end: 0.5em;
}

// Huge screen
@media only screen and (min-width : 1501px) {
    // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
    // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    // placeholder
}

// Phones
@media only screen and (max-width: 767px) {

    #nav-button {
        font-size: 0.5em;
        margin: 1em;
    }

    #nav-slide-in-menu {
        width: 100vw !important;
    }

    #welcome-nav {
        grid-column: 1 / 4;
        grid-row: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .icon-image {
        transform: scale(0.8);
    }

    #projects-icon {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    #blog-icon {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    #github-icon {
        grid-column: 1;
        grid-row: 3;
    }

    #twitter-icon {
        grid-column: 2;
        grid-row: 3;
    }

    #linkedin-icon {
        grid-column: 3;
        grid-row: 3;
    }

    .icon-grow:hover {
        transform: scale(1);
    }

    #nav-menu-items {
        height: 98vh;
    }
}