#nyc-project-container {
  background-color: aliceblue;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  min-height: 100vh;
  
  .pagination {
    grid-row: 4;
  }

  #nyc-project-day-caption{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    grid-row: 1;
    text-align: center;
    max-width: 80vw;
    max-height: 10vh;
  }

  #nyc-project-media-wrapper {
    justify-items: center;

    display: grid;

    text-align: center;
  
    img, video {
      grid-row: 2;
      border: 25px solid white;
      border-radius: 4px;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
      
    }

    img {
      max-height: 80vh;
    }

    video {
      min-width: 80vh;
    }
  
  }

}





