#nyc-project-container {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 90vh 10vh;
  min-height: 100vh;
  
  .pagination {
    grid-row: 2;
    grid-column: 1/3;
  }

  #nyc-project-caption{
    grid-column: 1;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-align: right;
    justify-self: center;
    align-self: center;
    padding: 2%;
  }

  #nyc-project-media {
    grid-column: 2;
    justify-items: left;
    display: grid;
    text-align: center;
  
    img, video {
      grid-row: 2;
      border: 25px solid white;
      border-radius: 4px;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
      
    }

    img {
      max-height: 80vh;
    }

    video {
      min-width: 80vh;
    }
  
  }

}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width : 767px) {
  #nyc-project-container {
    justify-items: center;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10% 5% repeat(2, minmax(max-content, auto));
    min-height: 100vh;
    
    .pagination {
      grid-row: 1;
      grid-column: 1;
      padding: 5% !important;
      
      .next_page, .previous_page {
        font-size: 1.5em;
        font-family: 'Indie Flower', cursive;
      }
    }
    
    #nyc-project-date-picker-wrapper {
      grid-row: 2;
      grid-column: 1;
      align-self: center;
    }

    #nyc-project-caption{
      grid-row: 4;
      grid-column: 1;
      text-align: center;
    }
  
    #nyc-project-media {
      grid-row: 3;
      grid-column: 1;
      justify-items: center;

      img, video {
        border: 1px solid white;
        border-radius: 4px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
      }
  
      img {
        max-width: 100vw;
        width: 95%;
      }
  
      video {
        min-width: auto;
        width: 95%;
        height: auto;
      }
    
    }
  
  }
}





