// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {

  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;

  .float-container {
    margin-bottom: 5px;
    input {
      padding: 0.8em 0 10px;
    }
  }
}

.post-form {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 70% 10%;
  justify-items: center;
}

.post-form-header {
  grid-row: 1;
  margin: 1%;
}

#new-post-title {
  grid-row: 2;
  width: 50%;
  height: 85%;
}

#new-post-content {
  grid-row: 3;
  width: 80%;
}

#new-post-submit {
  grid-row: 4;
}

.trix-content {
  height: 85%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
  font-size: 1.7em;
  font-family: 'Oxygen', sans-serif;
}