// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {

  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;

  .float-container {
    margin-bottom: 5px;
    input {
      padding: 0.8em 0 10px;
    }
  }
}

.post-form {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 70% 10%;
  justify-items: center;
}

.post-form-header {
  grid-row: 1;
  margin: 1%;
}

#new-post-title {
  grid-row: 2;
  width: 50%;
  height: 85%;
}

#new-post-content {
  grid-row: 3;
  width: 80%;
  height: 90%;
}

#new-post-submit {
  grid-row: 4;
}

.trix-content {
  height: 100%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
  font-size: 1.7em;
  font-family: 'Oxygen', sans-serif;
  padding: 0 1% 0 1%;
}

#show-post-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 92%;
  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;
  height: 100vh;
}

#show-post-title-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#show-post-title {
  font-size: 1.2em;
  justify-self: center;
  grid-column: 2;
}
#show-post-body {
  font-size: 1em;
  margin: 2% 2%;
}

#post-controls {
  grid-column: 3;
  justify-self: end;
  align-self: center;
  margin-right: 5%;
}

#all-posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 85% 5%;
  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;
  height: 100vh;
}

#all-posts-details {
  font-size: 1.2em;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  margin-top: 3%;
}

#all-posts-content {
  font-size: 1em;
  margin: 2% 2%;
  grid-row: 2;
  grid-column: 1/4;
}

#post-controls-index {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  margin-right: 5%;
}

div#all-posts-container > div.pagination {
  grid-column: 1/4;
  grid-row: 3;
}