#show-post-container {
  position: relative;
}

#post-comments-canvas {
  position: absolute;
  z-index: -1;
}


.post-container {

  font-family: 'Oxygen', sans-serif;

  .float-container {
    margin-bottom: 5px;

    input {
      padding: 0.8em 0 10px;
    }
  }
}

.post-form {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 10% 70% 5% 7%;
  justify-items: center;
}

.post-form-header {
  grid-row: 1;
  margin: 1%;
}

#new-post-title,
#edit-post-title {
  grid-row: 2;
  width: 80%;
  height: 85%;
}

#new-post-content,
#edit-post-content {
  grid-row: 3;
  width: 90%;
  height: 80%;
}

#add-tags-container {
  grid-row: 4;
  text-align: center;
}

#new-post-submit,
#edit-post-submit {
  grid-row: 5;
}

#edit-post-content .trix-content,
#new-post-content .trix-content {
  background-color: white;
}

#show-post-body .trix-content {
  padding: 2%;
}

.trix-content {
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
  font-size: 1.7em;
  font-family: 'Oxygen', sans-serif;
}

#show-post-container,
#all-posts-container,
#all-tags-container {
  font-family: 'Oxygen', sans-serif;
  min-height: 100vh;
}

#all-tags-container {
}

#all-posts-container .pagination {
  padding: 1%;
}

#show-post-title {
  font-size: 2.5em;
  text-align: center;
  margin: 0;
  padding: 8% 5% 5% 5%;
}

#show-post-details {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 3%;
}

#show-post-body {
  font-size: 1em;
  padding: 1% 1%;
  display: grid;
}

#post-controls {
  text-align: center;
  padding: 0.5% 2.5% 1.5% 0;
}

#all-posts-details {
  font-size: 1.2em;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  margin-top: 3%;
}

#all-posts-content {
  font-size: 1em;
  margin: 2% 1%;
  grid-row: 2;
  grid-column: 1/4;
}

#post-controls-index {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  margin-right: 5%;
}

div#all-posts-container>div.pagination {
  grid-column: 1/4;
  grid-row: 3;
}

.trix-content .attachment {
  margin: 2% 0 2% 0;
}

#post-toggle-fullscreen {
  right: 0%;
  color: grey;
  justify-self: end;
}

#post-toggle-fullscreen:hover {
  transform: scale(1.5);
}

#shrink-post-icon {
  display: none;
}

#add-comment-to-post {
  text-align: center;
  padding: 3%;
}

#show-user-post-container {
  display: grid;
  grid-gap: 1em;
  padding: 0 3% 5% 3%;
  place-items: center;
  align-content: space-evenly;
}

.posts-header {
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  text-align: center;
  padding: 0.2em;
  margin: 0;
}

.post-card {
  background-color: white;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  padding: 2%;
  font-size: 1.2em;
}

.post-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.post-card-link {
  width: 80%
}

.post-title {
  text-align: center;
  margin: 1%;
}

.post-tags {
  text-align: center;
}

.post-tag {
  text-decoration: none;
}

#edit-post-submit label.switch,
#new-post-submit label.switch {
  vertical-align: middle;
  margin-right: 5px;
}

#show-post-container .trix-content {
  background-color: aliceblue;
  box-shadow: none;
}

#show-post-body pre {
  font-size: 0.8em;
}

.post-date-posted {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  margin: 2%;
  font-style: italic;
  font-size: 1.5em;
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {

  .trix-content {
    font-size: 1.2em;
    padding: 5%;
    text-align: center;
  }

  .trix-content pre {
    text-align: left;
    padding: 1%;
  }

  #show-post-title {
    font-size: 1.5em;
  }

  #show-post-container #show-post-title {
    padding: 15% 5% 0% 5% !important;
  }

  #show-post-details {
    font-size: 1em;
  }

  .submit-close-buttons {
    font-size: 1em !important;
    padding: 6px 12px !important;
  }

  #post-controls {
    margin: 2%;
  }

  #show-post-details {
    margin: 2%;
  }

  .pagination {
    padding: 5% !important;
  }

  #main-body-container #show-post-title {
    padding: 0% 5% 0 5%;
  }

  .post-form {
    grid-template-rows: 8% 8% 67% 10% 4%;
  }

  .post-form-header {
    font-size: 1.8em;
    margin: 2%;
  }

  #new-post-title,
  #edit-post-title {
    grid-row: 2;
    width: 90%;
  }

  #new-post-content,
  #edit-post-content {
    grid-row: 3;
  }

  #add-tags-container {
    grid-row: 4;
    width: 90%;
  }

  #new-post-submit,
  #edit-post-submit {
    grid-row: 5;
  }

  #trix-toolbar-1 {
    font-size: 0.7em;
  }


  #edit-post-content .trix-content {
    font-size: 1em;
  }

  #add-tags-container label {
    font-size: 0.6em;
    display: inline-block;
  }

  #add-tags-container>input {
    width: 80% !important;
  }

  #post-toggle-fullscreen {
    transform: scale(0.8) !important;
  }

  .post-date-posted {
    font-size: 1em;
    margin: 2%;
  }

  .posts-header {
    font-size: 2.2em;
    margin: 5% 10% 0 10%;
  }
}