#all-projects-container {
  // TODO: figure out what to put here
}

#main-page-projects-container {
  // TODO: figure out what to put here
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2em;
  padding: 0 3% 5% 3%;
  background-color: aliceblue;
  place-items: center;
  align-content: space-evenly;

}

.projects-header {
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
  padding: 0.2em;
  margin: 0;
}

.project-card {
  background-color: white;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.project-card-link {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 5% auto auto 5%;
}

.project-card-controls {
  text-align: right;
  padding: 5px;
}

#project-controls {
  grid-column: 3;
  grid-row: 1;
}

.project-image {
  width: 100%;
  height: auto;
  grid-row: 1;
}

.link-image {
  place-self: center;
  grid-column: 2;
  grid-row: 2;
}

.link-description {
  place-self: center;
  grid-column: 2;
  grid-row: 3;
  padding: 1em;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.image-label {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
  grid-row: 3;
  grid-column: 2;
  text-align: center;
  align-self: center;
  padding: 1em;
}

@media only screen and (max-width: 767px) {
  .projects-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(7, 1fr) 20px;
    place-items: center;
  }
  .project-card {
    grid-column: 1;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% auto auto 5%;
  }

  .project-card:hover {
    transform: none;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  }

  .header {
    grid-column: 1;
  }

  .link-image {
    grid-column: 2;
    grid-row: 2;
  }

  .image-label {
    font-size: 1.2em;
    grid-column: 2;
    grid-row: 3;
  }
}

.check-box-container {
  margin: 8px 50px 8px 50px;
  justify-self: center;
  text-align: center;
}

#new-project-url {
  display: none;
}

#new-project-external-url {
  p {
    margin: 0;
  }
}