#resources-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto 20px;
  background-color: aliceblue;
  grid-row-gap: 1em;
  place-items: center;
  min-height: 100vh; 
  min-width: 100vw;
}

.header {
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
}

.construction-image {
  grid-column: 2 / 3;
  grid-row: 2;
}

.under-construction {
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 3;
}

@media only screen and (max-width: 767px) {
 
}