// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Delete this and all SCSS files that are empty

.modal-notification-info {
  width: 90%;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  align-self: center;
  justify-self: center;
  padding: 5%;
}