#add-tags-container>input {
  width: 400px;
}

#show-user-post-container,
#tag-show-container {
  display: grid;
  grid-gap: 1em;
  padding: 0 3% 5% 3%;
  background-color: aliceblue;
  place-items: center;
  align-content: space-evenly;
}

.tag-cloud-container {
  grid-row: 3;
  grid-column: 1/11;
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  display: grid;
  background-image: image-url("cloud.svg");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  grid-template-rows: auto;
  grid-template-columns: repeat(10, 1fr);
}

.tag-cloud {
  grid-column: 2/10;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

#tag-cloud-title {
  grid-row: 1;
  grid-column: 1 / 11;
  justify-self: center;
  font-size: 3em;
}

#tag-show-header {
  grid-row: 1;
  justify-self: center;
  align-self: center;
  font-size: 3em;
}


.post-tag-button {
  background-color: lightslategrey;
  font-size: 1.2em;
  padding: 10px 15px;
  margin: 0.5%;
}

.tag-link {
  margin: 2%;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.tag-link:hover {
  transform: scale(1.2) !important;
}

#tag-container {
  text-align: center;
  margin: 0% 5% 0% 5%;
}

.css1 {
  font-size: 2em;
}

.css2 {
  font-size: 2.5em;
}

.css3 {
  font-size: 3em;
}

.css4 {
  font-size: 3.5em;
}

.css5 {
  font-size: 4em;
}

.css6 {
  font-size: 4.5em;
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {

  #blog-container .tag-cloud-container {
    height: max-content;
    min-height: 50vh;
  }

  .tag-cloud-container {
    background-size: auto;
  }

  .css1 {
    font-size: 0.6em;
  }
  
  .css2 {
    font-size: 0.8em;
  }
  
  .css3 {
    font-size: 1.2em;
  }
  
  .css4 {
    font-size: 1.7em;
  }
  
  .css5 {
    font-size: 2.2em;
  }
  
  .css6 {
    font-size: 2.7em;
  }

  .post-tag-button {
    font-size: 0.7em;
    margin: 1%;
    padding: 8px 13px;
  }

  #tag-show-header {
    font-size: 1em;
  }

  #tag-cloud-title {
    font-size: 2em;
  }

  .post-card-link {
    font-size: 0.7em;
  }

  .post-card {
    padding: 5%;
  }
}