#add-tags-container>input {
  width: 400px;
}

.post-tag-button {
  font-size: 1.2em !important;
  padding: 5px 10px !important;
}

#tag-show-container,
.tag-cloud-container {
  display: grid;
  font-family: 'Oxygen', sans-serif;
  grid-template-rows: repeat(3, 1fr);
  background-color: aliceblue;
  height: 100vh;
}

#tag-posts {
  grid-row: 2 / 3;
  justify-self: center;
  font-size: 2em;
}

.tag-cloud-container {
  background-image: image-url("cloud.svg");
  background-repeat: no-repeat;
  background-size: 100% 115%;
  grid-template-rows: 15% 85%;
}

#tag-cloud-title,
#tag-show-title {
  grid-row: 1;
  justify-self: center;
  align-self: center;
  font-size: 1.5em;
}

.tag-cloud {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  display: inline;
}

.post-tag-button {
  background-color: lightslategrey;
}

.tag-link {
  margin: 2%;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.tag-link:hover {
  transform: scale(1.2) !important;
}

#tag-container {
  text-align: center;
}

.css1 {
  font-size: 2em;
}

.css2 {
  font-size: 2.5em;
}

.css3 {
  font-size: 3em;
}

.css4 {
  font-size: 3.5em;
}

.css5 {
  font-size: 4em;
}

.css6 {
  font-size: 4.5em;
}

// Huge screen
@media only screen and (min-width : 1501px) {
  // placeholder
}

// Most screens
@media only screen and (min-width : 1025px) and (max-width : 1500px) {
  // placeholder
}

// iPads and tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  // placeholder
}

// Phones
@media only screen and (max-width: 767px) {
  // placeholder
}