// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 767px) {
  #new-user-submit-button, #new-user-close-button {
    display: block;
    margin: 0.4em auto;
  }
  #user-signup-header {
    margin: 5%;
  }

  div.float-container > input, div.float-container > label{
      font-size: 1em;
  }
}

//TODO: remove this
#signin-icon {
  display: none;
}

.user-form-header {
  text-align: center;
  margin: 2%;
}

.user-form {
  display: grid;
  background-color: aliceblue;
  font-family: 'Oxygen', sans-serif;
  align-items: center;
  align-content: center;
  height: 100%;
}

.user-submit {
  justify-self: center;
  align-self: center;
  margin: 2% 1% 3% 1%;
}

.submit-close-buttons, .post-tag-button {
  font-family: 'Oxygen', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all .1s ease-in-out;

  &:hover {
    -webkit-box-shadow: 2px 2px 12px 0px rgba(143,137,143,1);
    -moz-box-shadow: 2px 2px 12px 0px rgba(143,137,143,1);
    box-shadow: 2px 2px 12px 0px rgba(143,137,143,1);
    cursor: pointer;
    transform: scale(1.05);
  }
}

.close-button {
  background-color: #F04747;
}

.submit-button {
  background-color: #4CAF50;
}

.float-container {
  margin-bottom: 8px;
  padding: 0 8px;
  position: relative;
  width: 80%;
  justify-self: center;
  background-color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;

  input {
    border: none;
    font-size: 1.7em;
    outline: 0;
    padding: 1.7em 0 10px;
    width: 100%;
  }

  label {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7em;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
  }

  &.active {
    label {
      transform: translate(0, 4px) scale(.75);
      color: #515853;
    }
  }

  &:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

.field_with_errors {
  color: red;
}

.users-container {
  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;
}

#user-show-partial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#user-show-title {
  text-align: center;
  grid-column: 1 / 4;
  margin: 0;
  align-self: center;
}

#user-show-data {
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 2;
}

#user-show-details {
  grid-column: 2;
  grid-row: 3;
}

#user-show-picture {
  text-align: center;
  grid-column: 2;
  grid-row: 4;
}

#edit-user-picture-button > button, #new-user-image-submit > input, #new-user-details-submit-button {
  margin: 2% 0 2% 0;
}

#user-show-picture div.trix-content {
  height: auto;
}

#add-user-image{
  height: 100%;
}

#new-user-image {
  height: 80%;
  margin-left: 2%;
}

#users-show-partial {
  font-family: 'Oxygen', sans-serif;
  background-color: aliceblue;
  text-align: center;
  height: 100vh;
  display: grid;
  ul {
    font-size: 1.5em;
  }
  li {
      list-style-type: none;
  }
}

.user-info {
  font-size: 1.5em;
  align-self: center;
}

#remember-me-container {
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 80%;
}

#remember-me-text {
  text-align: center;
  margin-right: 1%;
}

#remember-me-text-content {
  margin: 0;
  font-size: 1.1em;
}

#remember-me-text-link {
  margin: 0;
  font-size: 0.8em;
}

#password-reset-container {
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #0d43f0;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: #f1f2f3;
}