<div id="debug-button-container">
  <button id="debug-button">
    <i class="fas fa-info-circle fa-5x"></i>
  </button>
</div>
<div class="debug-panel">
  <div>
    <p class="debug-dump debug-title">Debug:</p>
    <pre><%= debug(params) %></pre>
  </div>
  <div>
    <p class="debug-dump debug-title">BDWD Encrypted Cookie:</p>
    <pre class="debug-dump"><%= session.to_h %></pre>
  </div>
  <% if cookies.permanent.signed[:guest_user_email] %>
  <div>
    <p class="debug-dump">Guest User Email Cookie:</p>
    <pre class="debug-dump"><%= cookies.permanent.signed[:guest_user_email] %></pre>
  </div>
  <% end %>
</div>
