<div id="modal">
  <div id="overlay">

  </div>

</div>

<!-- TODO: Figure out a better way to do this. -->
<div id="signin-icon">
  <%= link_to 'Add user', new_user_path,  {:remote => true}  %>
</div>