<div id="modal">
  <div id="overlay">
    <div id="modal-content">
    </div>
  </div>
  <button title="Close" id="close-modal">
    <i class="fas fa-times fa-3x" aria-hidden="true"></i>
  </button>
</div>

<!-- TODO: Figure out a better way to do this. -->
<div id="signin-icon">
  <%= link_to 'Add user', new_user_path,  {:remote => true}  %>
</div>

<div id="login-icon">
  <%= link_to 'Login', login_path,  {:remote => true}  %>
</div>