<div id="modal">
  <div id="overlay">
    <div id="modal-content">
      <button title="Close" id="close-modal">
        <i class="fas fa-times fa-3x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

