<div class="modal">
  <div class="overlay">
      <div class="modal-content">
          <div class="sample-content">Here is an example</div>
          <button title="Close" class="close-modal">
            <i class="far fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
  </div>
</div>