<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    .main-container {
      padding: 10px;
    }

    h3 {
      margin: 0;
    }

    body {
      margin: 0;

    }

    .BDWD-icon {
      height: 115px;
    }
  </style>
</head>

<body>
  <%= yield %>
</body>

</html>